main:
  - identifier: home
    name: Home
    url: /
    weight: 10

  - identifier: about
    name: About
    url: /about/
    weight: 20

  - identifier: portfolio
    name: Portfolio
    url: /portfolio/
    weight: 30
