---
title: Kansas Life
title-lead: Helping people one life at a time
layout: small.hbs
---
<div id='main' role='main'>
    {{> small-header }}
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                    <nav class='sidebar sidebar-fixed'>
                        <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <div class='sidebar-collapse collapse'>
                            <div class='box'>
                                <h3 class='title'>Info</h3>
                                <ul class='list-unstyled list-padded'>
                                    <li>
                                        <i class='fa-icon-user text-contrast fa-icon-fixed-width'></i>
                                        Kansas Life
                                    </li>
                                    <li>
                                        <i class='fa-icon-calendar-empty text-contrast fa-icon-fixed-width'></i>
                                        January 2012 - present
                                    </li>
                                </ul>
                            </div>
                            <div class='box'>
                                <h3 class='title'>Services</h3>
                                <ul class='list-unstyled list-padded'>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        Back and front end architecture
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        Server Administration
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        PHP
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        HTML / CSS
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <h2 class='no-mg-t'>Kansas Life</h2>
                            <p class='lead lead-sm'>
                              Kansas Life is an independent insurance agency.
                            </p>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <div class='browser-window'>
                                        <div class='browser-header'>
                                            <div class='browser-header-controls'>
                                                <span class='red'></span>
                                                <span class='orange'></span>
                                                <span class='green'></span>
                                            </div>
                                            <div class='browser-address-bar'>
                                                <div class='browser-title'>
                                                    <a href="kslifeinc.com">kslifeinc.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='browser-content'>
                                            <img alt="" width="1531" height="3302" src="{{ assets }}/images/portfolio/kansas-life@2x.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                              Kansas Life is one of our oldest and most trusted clients. For years, Tortugas has partnered with them to develop an in-house payroll and policy tracking system to help automate their workload and reduce operating costs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> scroll-up }}
</div>
