---
title: Panna
title-lead: Don't just follow a recipe.  Think, cook, and invent like a chef.
layout: small.hbs
---
<div id='main' role='main'>
    {{> small-header }}
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                    <nav class='sidebar sidebar-fixed'>
                        <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <div class='sidebar-collapse collapse'>
                            <div class='box'>
                                <h3 class='title'>Info</h3>
                                <ul class='list-unstyled list-padded'>
                                    <li>
                                        <i class='fa-icon-user text-contrast fa-icon-fixed-width'></i>
                                        Panna
                                    </li>
                                    <li>
                                        <i class='fa-icon-calendar-empty text-contrast fa-icon-fixed-width'></i>
                                        June 2015 - present
                                    </li>
                                </ul>
                            </div>
                            <div class='box'>
                                <h3 class='title'>Services</h3>
                                <ul class='list-unstyled list-padded'>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        Back and front end architecture
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        PHP (ZF2 &amp; Apigility)
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        React (Redux)
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        Talent Acquisition
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <h2 class='no-mg-t'>Panna</h2>
                            <p class='lead lead-sm'>
                              Panna is the smart home cook’s go-to video resource for learning to cook like a chef.
                            </p>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <div class='browser-window'>
                                        <div class='browser-header'>
                                            <div class='browser-header-controls'>
                                                <span class='red'></span>
                                                <span class='orange'></span>
                                                <span class='green'></span>
                                            </div>
                                            <div class='browser-address-bar'>
                                                <div class='browser-title'>
                                                    <a href="http://pannacooking.com">pannacooking.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='browser-content'>
                                            <img alt="" width="1531" height="3302" src="{{ assets }}/images/portfolio/panna@2x.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                              Tortugas initially joined the project to expand the feature set for the original version of the site.  When a second iteration of the site was proposed, Tortugas assisted in the architecture, estimation efforts and implementation of both the back and front ends of the site.
                            </p>
                            <p>
                              As Panna expanded their developer pool, Tortugas consulted during the hiring process helping draft interview questions and vetting candidates for technical expertise.  Onboarding assistance was also provided.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> scroll-up }}
</div>
