---
title: Startup Wichita
title-lead: Bringing connections and collisions to the entrepreneur, startup, and tech communities in Wichita, Kansas.
layout: small.hbs
---
<div id='main' role='main'>
    {{> small-header }}
    <div id='main-content'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                    <nav class='sidebar sidebar-fixed'>
                        <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <div class='sidebar-collapse collapse'>
                            <div class='box'>
                                <h3 class='title'>Info</h3>
                                <ul class='list-unstyled list-padded'>
                                    <li>
                                        <i class='fa-icon-user text-contrast fa-icon-fixed-width'></i>
                                        Startup Wichita
                                    </li>
                                    <li>
                                        <i class='fa-icon-calendar-empty text-contrast fa-icon-fixed-width'></i>
                                        March 2014
                                    </li>
                                </ul>
                            </div>
                            <div class='box'>
                                <h3 class='title'>Services</h3>
                                <ul class='list-unstyled list-padded'>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        Node.js
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        MongoDB
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        HTML / CSS
                                    </li>
                                    <li>
                                        <i class='fa-icon-ok text-contrast fa-icon-fixed-width'></i>
                                        Server Administration
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <h2 class='no-mg-t'>Startup Wichita</h2>
                            <p class='lead lead-sm'>
                                Startup Wichita began as a side project for a group of local developers to build a site that connect tech people in Wichita, Kansas.
                            </p>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <div class='browser-window'>
                                        <div class='browser-header'>
                                            <div class='browser-header-controls'>
                                                <span class='red'></span>
                                                <span class='orange'></span>
                                                <span class='green'></span>
                                            </div>
                                            <div class='browser-address-bar'>
                                                <div class='browser-title'>
                                                    <a href="http://startupwichita.com">startupwichita.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='browser-content'>
                                            <img alt="" width="1531" height="3302" src="{{ assets }}/images/portfolio/startup-wichita.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                When work on this site began to stagnate, Tortugas Consulting was brought in to continue the development.  Security enhancements were made while also working on new feature sets.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> scroll-up }}
</div>
