{{ define "main" }}
<div class="section">
  <div class="container mx-auto px-4">
    <header class="section-header">
      <h1 class="section-title">{{ .Title }}</h1>
      {{ if .Params.subtitle }}
        <p class="section-subtitle">{{ .Params.subtitle }}</p>
      {{ end }}
    </header>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 items-start">
      {{ range .Pages.ByWeight }}
        {{ partial "portfolio/card.html" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
