---
component: footer
---
<footer id='footer'>
    <div id='footer-main'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4 col-sm-6 info-box'>
                    <p class='no-mg-b'>Owned and operated by Matthew M. Keeler, Tortugas Consulting, LLC. is a small development company operating out of North Carolina's Research Triangle.</p>
                </div>
                <div class='col-md-4 col-sm-6 info-box'>
                    <p class='no-mg-b'>With a strong commitment to quality and affordability, Tortugas Consulting is an excellent choice for your company's development needs.</p>
                </div>
                <div class='col-md-4 col-sm-6 info-box'>
                    <div class='icon-boxes'>
                        <div class='icon-box'>
                            <div class='icon icon-wrap'>
                                <i class='fa-icon-phone'></i>
                            </div>
                            <div class='content'>
                                <a href='tel:+6624688845'>662 GNU-UTIL</a>
                            </div>
                        </div>
                        <div class='icon-box'>
                            <div class='icon icon-wrap'>
                                <i class='fa-icon-envelope'></i>
                            </div>
                            <div class='content'><a href="mailto:projects@tortugas-llc.com">projects@tortugas-llc.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
