---
component: navbar
---
<header id='header'>
    <div class='container'>
        <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
            <div class='navbar-header'>
                <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='index.html'>
                    <span>Tortugas Consulting, LLC</span>
                </a>
            </div>
            <div class='collapse navbar-collapse navbar-header-collapse'>
                <ul class='nav navbar-nav navbar-right'>
                  <li {{#is basename 'index'}}class='active'{{/is}}>
                      <a href='/'>
                          <span>
                              Home
                          </span>
                      </a>
                    </li>
                    <li {{#is basename 'about'}}class='active'{{/is}}>
                      <a href='/about'>
                          <span>
                              About
                          </span>
                      </a>
                    </li>
                    <li {{#is basename 'portfolio'}}class='active'{{/is}}>
                      <a href='/'>
                          <span>
                              Portfolio
                          </span>
                      </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
