---
component: small-header
---
<div id='main-content-header'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12'>
                <h1 class='title'>
                    {{ title }}
                    <small>{{ title-lead }}</small>
                </h1>
            </div>
        </div>
    </div>
</div>
