<% content_for :javascript_includes do %>
  <%= javascript_include_tag "js_manifests/admin-hours-by-developer-by-project.js" %>
<% end %>

<div id="chartContainer" style="height: 400px; width: 100%;"></div>

<table class="table table-striped">
  <caption>Raw data for developer hours across all projects</caption>
  <thead>
    <tr>
      <th>Developer</th>
      <th>Project</th>
      <th>Total Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result['name'] %></td>
        <td><%= result['title'] %></td>
        <td><%= number_with_precision result['total'] ? result['total'] : 0, { :precision => 2 } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
