<h1>Administrative View</h1>

<p>The below table lists various charts to assist in visualizing the current state of Tortugas LLC.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Report</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Hours By Developer", admin_hours_by_developer_path %></td>
      <td class="muted">Display a pie chart visualizing the split of hours by developer</td>
    </tr>
    <tr>
      <td><%= link_to "Hours By Developer By Project", admin_hours_by_developer_by_project_path %></td>
      <td class="muted">A bar graph showing the split of hours between developer by project</td>
    </tr>
  </tbody>
</table>
