<nav id="portfolio-filter" class="mb-12">
  <ul class="flex flex-wrap gap-3 justify-center">
    <li>
      <button class="filter-btn active" data-filter="*">
        All
      </button>
    </li>
    <li>
      <button class="filter-btn" data-filter="PHP">
        PHP
      </button>
    </li>
    <li>
      <button class="filter-btn" data-filter="Node.js">
        Node.js
      </button>
    </li>
    <li>
      <button class="filter-btn" data-filter="Ruby">
        Ruby
      </button>
    </li>
    <li>
      <button class="filter-btn" data-filter="React">
        React
      </button>
    </li>
  </ul>
</nav>
