<div class="row-fluid">
  <div class="span12 text-center"><%= image_tag "large-logo.png" %></div>
</div>
<div class="row-fluid">
  <div class="span4">
    <h1>About Us</h1>
    <p>Founded by Jacob Walker and Matthew Keeler, Tortugas Consulting, LLC. is a small development company operating out of Kansas.</p>
    <p>With a strong commitment to quality and affordability, Tortugas Consulting is an excellent choice for your company's development needs.</p>
    <p><%= link_to "Learn More...", about_index_path %></p>
  </div>
  <div class="span4">
    <h1>Pricing</h1>
    <p>Our affordable and flexible approach to pricing makes starting any project a breeze. Whether you want to buy in bulk up front, or if you prefer a pay-as-you-go format, Tortugas' metered development model can help address any company's budgeting needs.</p>
  </div>
  <div class="span4">
    <h1>Contact Us</h1>
    <p>Have a project you would like to discuss? Want to know what Tortugas Consulting can do to help you?</p>
    <p>Contact us at <%= link_to "projects@tortugas-llc.com", "mailto:projects@tortugas-llc.com" %>. or send us a quick message through our <%= link_to "web form", contact_index_path %>.</p>
  </div>
</div>
