<h1>Editing <%= @event.description %></h1>

<%= render 'form' %>

<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-small"><%= link_to 'Back', @project %></button>
  </div>
</div>
