<h1><i class="icon-book"></i>Project List</h1>

<%= render :partial => 'table', :locals => { :projects => @projects } %>

<% if current_user.is_admin %>
  <h1>Inactive Projects</h1>

  <%= render :partial => 'table', :locals => { :projects => @inactive_projects } %>

  <div class="btn-toolbar">
    <div class="btn-group">
      <div class="btn btn-small"><%= link_to 'New Project', new_project_path %></div>
    </div>
  </div>
<% end %>
