<h1><i class="icon-book"></i>New project</h1>

<%= render 'form' %>

<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-small"><%= link_to 'Back', projects_path %></button>
  </div>
</div>
