<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
          A user named <%= @name %> submitted a message through the website's contact form. They wrote:
      </p>
      <blockquote>
          <%= @message %>
      </blockquote>
      <p>
          They can be contacted at <%= @email %>
      </p>
  </body>
</html>
