{{> header }}
<body class='homepage'>
<div id='wrapper'>
    {{> navbar-top }}
    <div id='main' role='main'>
        <!-- / carousel blur -->
        <div class='hero-carousel carousel-blur carousel-blur-arrows carousel-blur-pagination flexslider' id='carousel-example-1'>
            <ul class='slides'>
                <li class='item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12 animate'>
                            <h1 class='big fadeInUp animated'>
                                Maximizing business value
                            </h1>
                            <p class='normal fadeInUp animated'>Leverage our expertise to help drive the success of your business</p>
                            <a class='btn btn-contrast btn-lg fadeInRight animated' href='mailto:projects@tortugas-llc.com'>
                                Contact us today
                            </a>
                        </div>
                    </div>
                </div>
                </li>
                <li class='item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12 animate'>
                            <h2 class='big fadeInLeftBig animated'>
                                A deeper understanding
                            </h2>
                            <p class='normal fadeInRightBig animated'>Learning your business needs and delivering value</p>
                            <a class='btn btn-contrast btn-lg fadeInDownBig animated' href='#testimonials'>
                                Read client testimonials
                            </a>
                        </div>
                    </div>
                </div>
                </li>
                <li class='item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12 animate'>
                            <h2 class='big fadeInRightBig animated'>Providing custom solutions</h2>
                            <p class='normal fadeInLeftBig animated'>We deliver, whatever your technology needs are</p>
                            <a class='btn btn-contrast btn-lg fadeInUpBig animated' href='/portfolio'>
                                See our projects
                            </a>
                        </div>
                    </div>
                </div>
                </li>
            </ul>
        </div>
        {{> body }}
    </div>
    {{> footer }}
</div>
{{> javascript }}
</body>
</html>
