  <h1><%= set_then_return_title "Client Recommendations" %></h1>
  <p>
    We take great pride in our work and strive to delight customers by providing effective solutions delivered in
    a timely manner.  But don't take our word for it; see what our customers have to say.
  </p>
  <p>
  Lance Chastain, Owner of <%= link_to "Natural Organic Warehouse", "https://secure.naturalorganicwarehouse.com" %> &bull; October 11th, 2012
  </p>
  <blockquote>
    <p>
      We began working together on the website and backend database for Natural Organic Warehouse Inc. in
      September 2011. During the past year, the work completed has been detailed, extensive and comprehensive.
      We've established confidence in you by experiencing how you correctly interpret our requests, implement
      them efficiently and stand behind your work if necessary.
    </p>
    <p>
      We've been very pleased with the quality of your work, the efficiency of your interaction with us, the speed and
      willingness to meet deadlines and the accuracy of your programming on the first implementation of new code.
      When tweaks and revisions were needed, your responsiveness has been fantastic.
    </p>
    <p>
      We also greatly appreciate your professionalism and courtesy when interacting with our staff and their needs.
      We look forward to continue working with you on the Natural Organic Warehouse website and database.
    </p>
  </blockquote>
